<b id="uid">{{uid}}</b>
<p>Rol del usuario: {{role}}</p>
<div>
    <button id="setUserButton">Cambiar a User</button>
    <button id="setPremiumButton">Cambiar a Premium</button>
    <button id="setAdminButton">Cambiar a Admin</button>
</div>
<button id="deleteUserButton">Eliminar usuario</button>