<form action="/api/carts/{{cid}}/purchase" method="post" enctype="application/x-www-form-urlencoded">
    <label for="_tarjeta">Numero de Tarjeta</label>
    <input type="text" name="tarjeta" id="_tarjeta">
    <label for="_vencimiento">Fecha de vencimiento</label>
    <input type="text" name="vencimiento" id="_vencimiento" placeholder="mm/yy">

    <button type="submit">Comprar</button>
</form>